.about__title-section {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}
.about__title {
  color: #666;
  font-size: 56px;
  text-transform: uppercase;
  font-family: "Titillium Web Black", sans-serif;
}
@media (max-width: 576px) {
  .about__title {
    font-size: 35px;
  }
}
.about__subtitle {
  color: #2d82b5;
  font-size: 56px;
}
@media (max-width: 576px) {
  .about__subtitle {
    font-size: 35px;
  }
}
.about-container-main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.about-container-title__title {
  font-size: 26px;
  text-transform: uppercase;
  color: #666;
  font-family: "Titillium Web Bold", sans-serif;
  padding-bottom: 22px;
}
@media (max-width: 576px) {
  .about-container-title__title {
    font-size: 21px;
  }
}
.about-container-infos-title {
  display: flex;
  justify-content: center;
}
.about-container-infos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1350px) {
  .about-container-infos {
    max-width: 800px;
  }
}
@media (max-width: 992px) {
  .about-container-infos {
    grid-template-columns: 1fr;
  }
}
.about-container-infos__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
@media (max-width: 992px) {
  .about-container-infos__list {
    margin-bottom: 30px;
  }
}
.about-container-infos__list-item-title {
  text-transform: capitalize;
  opacity: 0.8;
  color: #666;
  font-size: 15px;
}
.about-container-infos__list-item-value {
  color: #666;
  font-weight: 600;
  font-size: 15px;
}
@media (max-width: 576px) {
  .about-container-infos__list-item-value {
    display: block;
  }
}
.about-container-infos__experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 576px) {
  .about-container-infos__experience {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.about-container-infos__list-element {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 10px 0 10px 0;
}
.about-container-infos__experience-box {
  border: 1px solid #ddd;
  padding: 20px 30px 25px 40px;
  border-radius: 5px;
  color: #666;
  margin: 0 10px 0 10px;
}
@media (max-width: 576px) {
  .about-container-infos__experience-box {
    margin: 15px 0 15px 0;
  }
}
.about-container-infos__experience-box-title {
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  color: #2d82b5;
}
.about-container-infos__experience-box-title:after {
  content: "+";
  position: absolute;
  right: -24px;
  font-size: 33px;
  font-weight: 300;
  top: 2px;
}
.about-container-infos__experience-box-description {
  text-transform: uppercase;
  font-size: 15px;
}
.separator-infos-experience {
  margin: 70px auto 55px;
  max-width: 40%;
  border-top: 1px solid #ddd;
  opacity: 0.5;
}

.about-container-experience-title {
  display: flex;
  justify-content: center;
}
.about-container-experience-title__title {
  font-size: 26px;
  text-transform: uppercase;
  color: #666;
  font-family: "Titillium Web Bold", sans-serif;
  padding-bottom: 22px;
}
.about-container-experience-history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 50px;
}
@media (max-width: 1350px) {
  .about-container-experience-history {
    grid-template-columns: 1fr;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-container-experience-history__list {
  list-style: none;
}
.about-container-experience-history__list-item {
  position: relative;
  padding: 0 20px 0 60px;
  margin: 0 0 50px;
}
.about-container-experience-history__list-item::after {
  border-left: 1px solid #ddd;
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
}
.about-container-experience-history__list-icon {
  font-size: 19px;
  transition: 0.3s;
}
.about-container-experience-history__icon {
  background-color: #2d82b5;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  line-height: 40px;
  text-align: center;
  z-index: 1;
  border-radius: 50%;
  color: #fff;
}
.about-container-experience-history__period {
  text-transform: uppercase;
  font-size: 12px;
  padding: 1px 10px;
  display: inline-block;
  margin-bottom: 12px;
  border-radius: 20px;
  font-weight: 600;
  opacity: 0.8;
  color: #666;
  font-family: "sans-serif";
  background-color: #eee;
}
.about-container-experience-history__period-title {
  text-transform: uppercase;
  color: #666;
  font-size: 18px;
  margin: 7px 0 10px;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Titillium Web Bold", sans-serif;
}
.about-container-experience-history__period-enterprise {
  opacity: 0.8;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  padding-left: 26px;
  color: #666;
  font-family: "sans-serif";
}
.about-container-experience-history__period-enterprise::before {
  background-color: #666;
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  left: 7px;
  top: 9px;
  opacity: 0.8;
}
.about-container-experience-history__description {
  color: #666;
  font-size: 14px;
}
