.modal__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #ffffff;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 10px;
}

.modal_title {
  text-transform: uppercase;
  padding: 10px 0 10px;
  font-weight: 700;
  font-size: 33px;
  color: #2d82b5;
  text-align: center;
  font-family: "Titillium Web Bold", sans-serif;
}

.modal__header {
  height: 125px;
  position: relative;
  border-bottom: 1px solid rgb(227, 231, 233);
  color: #666;
}

.modal__header-separation {
  border-bottom: 1px solid rgb(227, 231, 233);
}

.modal__details-icon {
  padding-right: 10px;
}
.modal__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 30px;
  font-size: 14px;
}
@media (max-width: 600px) {
  .modal__details {
    grid-template-columns: 1fr;
    height: 130px;
  }
  .modal__header {
    height: 200px;
  }
}
.modal__details-content-link {
  text-decoration: none;
  color: #2d82b5;
}

.modal__body {
  position: relative;
  padding: 20px 10px;
  margin: 0 auto;
}

.modal__image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: contain;
}

.modal__button-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: red;
  background: transparent;
}

.modal__details-element {
  padding: 5px 0;
}

.modal__details-content {
  font-weight: 700;
}
.modal--fade-enter,
.modal--fade-leave-to {
  opacity: 0;
}

.modal--fade-enter-active,
.modal--fade-leave-active {
  transition: opacity 0.5s ease;
}
