.login-title-section {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  text-align: center;
}

.login-title-section__title {
  color: #666;
  font-size: 56px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  font-family: "Titillium Web Black", sans-serif;
}
@media (max-width: 450px) {
  .login-title-section__title {
    font-size: 35px;
  }
}
.login-title-section__subtitle {
  color: #2d82b5;
  font-size: 56px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Titillium Web Black", sans-serif;
}
@media (max-width: 450px) {
  .login-title-section__subtitle {
    font-size: 35px;
  }
}

.login-container-form__form {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 800px;
  margin: 0 auto;
}
.login-container-form__form-content {
  display: grid;
  grid-template-columns: 1fr;
}
@media (max-width: 650px) {
  .login-container-form__form-content {
    grid-template-columns: 1fr;
    padding-bottom: 0;
  }
}
.login-container-form__form-section {
  width: 100%;
  padding-bottom: 30px;
}
@media (max-width: 650px) {
  .login-container-form__form-section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
  }
}
.login-container-form__form-input {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #666;
  width: 100%;
  padding: 11px 26px;
  border-radius: 30px;
  outline: none;
  transition: 0.3s;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  box-sizing: border-box;
}
.login-container-form__button {
  overflow: hidden;
  display: inline-block;
  line-height: 1.4;
  border-radius: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  z-index: 1;
  padding: 16px 70px 16px 35px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 1px solid #2d82b5;
}
.login-container-form__button:hover .login-container-form__button-text {
  color: #fff;
}
.login-container-form__button::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-out;
  background-color: #2d82b5;
}
.login-container-form__button:hover::before {
  transform: translateX(0);
}
.login-container-form__button-text {
  position: relative;
  z-index: 2;
  color: #666;
  transition: all 0.3s ease-out;
}
.login-container-form__button-icon {
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: 0;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  color: #fff;
  border-radius: 50%;
  background-color: #2d82b5;
}
.error {
  padding-left: 20px;
  color: red;
  font-size: 12px;
}
